<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title postit
        link(rel="stylesheet" type="text/css" href="./stylesheets/all.css")
    body
      #app
        transition-group(tag="div", name="fade")
          .postgroup(v-for="(p, pid) in postits",
                    :key="pid",
                    :style="postgroupCss(pid)",
                    @mouseover="hoverId=pid"
                    @mouseleave="hoverId=-1")
            .postit(:style="postitCss(pid)",
                    @mousedown="selectId($event, pid)")
                input.text(v-model="p.text",
                          :style="textCss(pid)",
                          @input="inputText(pid)")
            .edit(:class="{isHover: hoverId==pid}")
              .colorBlock(v-for="c in colorList",
                          :style="{backgroundColor: c.color}"
                          @click="changeColor(pid, c)")
              i.fa.fa-trash(@click="delPostit(pid)")
        i.fa.fa-plus-square(@click="addPostit")

      script(src="https://cdn.jsdelivr.net/npm/vue@2.6.11")
      script(src="https://www.gstatic.com/firebasejs/7.11.0/firebase.js")
      script(type="text/javascript" src="/javascripts/all.js")